.App {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

p {
  font-size: 18px;
  font-weight: bold;
}
